header {
    width: 100%;
    background-color: #1B1C20;
    box-sizing: border-box;
}
.crypto-info-bar {
    box-sizing: border-box;
    padding: 5px 35px;
    border-bottom: 1px solid #222328;
}
.crypto-info-bar > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.crypto-info-bar > ul > li {
    display: inline-block;
    margin-right: 16px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    color: #A1A7BB;
}
.crypto-info-bar > ul > li:last-child {
    float: right;
    font-size: 13px;
    color: #FFFFFF;
}

nav {
    clear: both;
    display: flex;
    align-items: center;
    padding: 5px 35px;
    height: 61px;
}
nav > ul {
    height: 100%;
    list-style: none;
    display: inline-flex;
    align-items: center;
}
.logo {
    display: inline-flex;
    align-items: center;
    margin-right: 30px;

    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: rgb(237, 233, 233);
}
.fa-bitcoin {
    font-size: 30px;
    margin-right: 7px;
}
.nav-element {
    display: inline-flex;
    align-items: center;
    height: 100%;
    margin-right: 32px;
}
.nav-element:hover {
    color: #3565f7;
}
#searchbar {
    margin-left: auto;
    display: inline-flex;
    align-items: center;

    background-color: rgb(28, 31, 50);
    color: rgb(100, 107, 128);
    height: 38px;
    border-radius: 8px;
    padding-left: 5px;
}
.searchfield {
    border: none;
    background: none;
    outline: none;
    margin-left: 5px;
    height: 100%;
    color: #FFFFFF;
}
.searchfield::placeholder {
    color: rgb(100, 107, 128);
}

.blue {
    color: #6188FB;
}